.vb-box1{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100vh;
    pointer-events: none;

}

.vb-box2{
    width: 100%;
    position: absolute;
    top:0 ;
    height: 10%;
    background-image: linear-gradient(to bottom, black, transparent);
}
.vb-box3{
    width: 100%;
    position: absolute;
    bottom:0 ;
    height: 10%;
    background-image: linear-gradient(to top, black, transparent);
}

.vb-box1 iframe{
    width: 100%;
    height: 120%;
}

@media screen and (max-width:601px) {
    .vb-box1{
        height: 60vh;
        top:6%;
        z-index: 0;
    }
}